<form class="" [formGroup]="form">
  <div class="card">
    <div class="card-body">
      <h2>Sector 1</h2>
      <label class="switch">
        <input type="checkbox" formControlName="Sector1" #Sector1 (change)="turn(1,$event)">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h2>Sector 2</h2>
      <label class="switch">
        <input type="checkbox" formControlName="Sector2" #Sector2 (change)="turn(2,$event)">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
</form>
