.viewer{
  display: flex;
}
.scrolleable{
  width: 84vw;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 4vh;
  
  height: 94vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(#f1f1f1, 0.42);
}
